<% if current_user %>
  <h1> Welcome, <%= "#{current_user.username}" %></h1>
  <h3> Personal Information </h3>
  <div class='informations'>
    <p> Followers :<br>
      <% @github_user.followers.each do |follower| %>
        Login : <%= follower.login  %><br>
        URL : <%= follower.url  %><br>
        id : <%= follower.id  %><br>
      <% end %>
             <br></p>
  </div>

  <h1>List of starred repositories : </h1>
  <% @starred_repositories.each do |repo|  %>
  <div class=".starred_repo">
    <%= repo.name %><br>
    <%= repo.id %><br>
  </div>
  <% end %>
<% end %>
